body {
	background-color: #ddd;
	color: #022;
	max-width: 800px;
	margin: auto;
}

li {
	/* the number of v3 onions is so long that it wraps! */
	white-space: nowrap;	
}

a {
	color: #00d;
}

p#link_list {
	font-family: monospace;
	text-align: center;
}

div#faq, div#about {
	border-top: 1px solid black;
}